rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for Assets collection
    match /assets/{assetId} {
      allow read, write: if true;
    }

    // Rules for Admins collection
    match /admins/{adminEmail} {
      allow read, write: if true;
    }
  }
}
